.admin-control {
    cursor: pointer;
}

.selected-section {
    opacity: 0.4;
}

.selected-section::after,
.admin-control:hover {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
