.booking-form-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.booking-input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
.booking-input:focus {
    outline: none;
}
.intro-img-flower-mid {
    position: absolute;
    top: 20%;
    z-index: -1;
    right: 17%;
    width: 20%;
    opacity: 0.8;
}
.booking-form-input input {
    background-color: unset;
}
/* Booking Process */
.booking-process {
    margin-top: 25vh;
}
.booking-step {
    position: relative;
}
.booking-input-item {
    display: flex;
    gap: 20px;
}

.booking-process-form {
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.booking-step-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.booking-process-line {
    width: 100%;
    border-top: 1px dashed black;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.booking-step-circle {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    position: relative;
}
.booking-step-title {
    padding-top: 10px;
}
.booking-step-title {
    position: absolute;
    white-space: nowrap;
    transform: translateX(-25%);
}
.booking-dot {
    font-size: 18px;
    position: absolute;
    right: 0;
}
.booking-component {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
}
.booking-component-date {
    width: 50%;
    padding: 0 30px;
}
.booking-component-time {
    padding: 0 30px;
    width: 50%;
}
.booking-component-button-done {
    text-align: center;
    padding: 20px;
}
/* Booking Completed */
.completed {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.completed-form {
    background-color: var(--clr-primary-yellow);
    padding: 20px;
}
.completed-item-form {
    width: 70%;
    margin: 0 auto;
}
.completed-item {
    padding: 10px 0;
}
.completed-item-content {
    font-weight: 600;
    font-size: 18px;
}
.completed-item {
    display: flex;
    justify-content: space-between;
}
.completed-mess {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
}
.completed-total-fee {
    margin: 0 auto;
    width: 100%;
}
.completed-total-fee-title {
    width: fit-content;
    padding: 10px;
}
/* Booking Item */
.booking-list-item {
    width: 100%;
    scroll-margin-top: 120px;
}
.booking-item-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.booking-item-form:hover {
    background-color: var(--clr-secondary-light);
}
.booking-service-description {
    width: 25vw;
    background-color: var(--clr-secondary-light);
    margin: 0 auto;
    padding: 30px;
}

#booking-nails-service:hover {
}

.booking-component-button-done {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.booking-component-button-done > button {
    flex-basis: calc(50% - 1rem);
    margin: 0;
    max-width: 420px;
}

@media only screen and (max-width: 500px) {
    .booking-component-button-done > button {
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 2000px) {
    .booking-process {
        /* margin-top: 20vw; */
    }
}

@media only screen and (min-width: 1250px) {
    .booking-process {
        /* margin-top: 50vh; */
    }
}
@media only screen and (max-width: 1024px) {
    .booking-process {
        margin-top: 0vh;
    }
    .intro-content-form {
        width: 70%;
    }
    .completed {
        width: 60%;
    }
    .booking-service-description {
        width: 50vw;
    }
}
@media only screen and (max-width: 576px) {
    .booking-process {
    }
    .intro-form {
        gap: 30px;
    }
    .completed {
        width: 80%;
    }
    .booking-service-description {
        width: 70vw;
    }
    .booking-form-img {
        margin-bottom: 100px;
    }
}

/* Admin Booking */
.admin-booking-table {
    width: 100%;
}
.admin-booking-table-form {
    overflow-x: scroll;
    max-width: 100%;
    scroll-behavior: smooth;
    margin: 0 auto;
}
