.booking-form-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.booking-input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
.booking-input:focus {
    outline: none;
}
/* Booking Process */
.booking-process {
    margin-top: 25vh;
}
.booking-step {
    position: relative;
}
.booking-input-item {
    display: flex;
    gap: 20px;
}

.booking-process-form {
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.booking-step-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.booking-process-line {
    width: 100%;
    border-top: 1px dashed black;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.booking-step-circle {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    position: relative;
}
.booking-step-title {
    padding-top: 10px;
}
.booking-step-title {
    position: absolute;
    white-space: nowrap;
    transform: translateX(-25%);
}
.booking-dot {
    font-size: 18px;
    position: absolute;
    right: 0;
}
.booking-component {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
}
.booking-component-date {
    width: 50%;
    padding: 0 30px;
}
.booking-component-time {
    padding: 0 30px;
    width: 50%;
}
.booking-component-button-done {
    text-align: center;
    padding: 20px;
}
/* Booking Completed */
.completed {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.completed-form {
    background-color: var(--clr-primary-yellow);
    padding: 20px;
}
.completed-item-form {
    width: 70%;
    margin: 0 auto;
}
.completed-item {
    padding: 10px 0;
}
.completed-item-content {
    font-weight: 600;
    font-size: 18px;
}
.completed-item {
    display: flex;
    justify-content: space-between;
}
.completed-mess {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
}
.completed-total-fee {
    margin: 0 auto;
    width: 100%;
}
.completed-total-fee-title {
    width: fit-content;
    padding: 10px;
}
/* Booking Item */
.booking-list-item {
    width: 100%;
}
.booking-item-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px;
}
#booking-nails-service:hover {
}
@media only screen and (max-width: 1450px) {
    .booking-process {
        margin-top: 10vh;
    }
}
@media only screen and (max-width: 1024px) {
    .booking-process {
        margin-top: 0vh;
    }
}
@media only screen and (max-width: 576px) {
    .booking-process {
        margin-top: 30vh;
    }
}
