.banner {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
.banner-img {
    position: relative;
    width: 80%;
    display: inline-block;
    text-align: center;
}
.banner-img-small {
    width: 31%;
    transform: translateY(40%);
}
.banner-img-flower {
    width: 18%;
    transform: translateY(80%);
}
.banner-img-big {
    position: relative;
    width: 85%;
    z-index: -1;
    float: right;
}
.banner-title {
    font-size: 34px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.banner-img-extra {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
/* Introduce */
.intro {
    width: 100%;
    position: relative;
    padding-top: 60px;
    margin-bottom: 60px;
}
.intro-bg {
    background-color: var(--clr-secondary);
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0;
    z-index: -1;
}
.intro-form {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 60px 0;
}
.intro-img {
    width: 50%;
}
.intro-img-form {
    position: relative;
}
.intro-content {
    width: 50%;
}
.intro-content-form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.intro-img-big {
    width: 80%;
}
.intro-img-small {
    width: 45%;
    position: absolute;
    bottom: -48%;
    right: 5%;
}
.intro-img-flower-top {
    width: 30%;
    transform: translateX(-50%);
}
.intro-img-flower-bot {
    width: 60%;
    position: relative;
    float: right;
    transform: translateX(40%);
}
.intro-title {
    font-size: 34px;
}
/* Three Sevices */
.three {
    width: 100%;
    padding: 60px 0;
    margin: 20px 0;
}
.three-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nail-care {
    width: 45%;
    text-align: center;
}
.nail-care-img {
    padding: 25px;
    width: 70%;
    margin: 0 auto;
}
.nail-care-title {
    font-size: 34px;
    padding: 10px;
}
/* Quality Service */
.quality {
    width: 100%;
}
.quality-form {
    width: 80%;
    margin: 0 auto;
}
.quality-title {
    font-size: 34px;
    padding: 20px;
    text-align: center;
}
.quality-item-form {
    display: flex;
    gap: 60px;
}
.quality-item {
    width: 50%;
    text-align: center;
}
.quality-item-price {
    font-weight: 600;
    font-size: 24px;
    padding-top: 20px;
}
.quality-item-name {
    font-size: 34px;
    margin-bottom: 20px;
}
/* Other Service */
.other {
    width: 100%;
    position: relative;
    margin: 0px 0 100px 0;
    padding: 60px 0 100px 0;
}
.other-title {
    padding-top: 30px;
}
.other-bg {
    height: 100%;
    width: 80%;
    position: absolute;
    background-color: var(--clr-secondary);
    z-index: -1;
    top: 65%;
    right: 0;
    transform: translateY(-50%);
}
.other-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.other-img {
    width: 50%;
}
.other-img-big {
    width: 70%;
}
.other-img-small {
    position: absolute;
    bottom: -20%;
    right: 0%;
    width: 50%;
}
.other-img-form {
    position: relative;
}
.other-content {
    width: 50%;
}
.other-content li {
    list-style-type: none;
}
.other-content-form {
    width: 80%;
    float: right;
}
.other-img-flower {
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}
.other-list {
    width: 100%;
    padding-top: 30px;
}
.other-list-item {
    display: flex;
    width: 100%;
    gap: 5px;
    cursor: pointer;
}
.other-list-dashed {
    flex-grow: 1;
    border-top: 1px dashed black;
    transform: translateY(25%);
}
.other-item-explain {
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    right: 5%;
    z-index: 200;
}
.other-list-item:hover .other-item-explain {
    display: block;
}
/* Lashes */
.lashes {
    width: 100%;
    position: relative;
    margin: 180px 0 60px 0;
    padding: 30px 0;
}
.lashes .other-item-explain {
    left: 50%;
    width: fit-content;
}
.lashes-title {
    padding-top: 30px;
}
.lashes-bg {
    height: 110%;
    width: 80%;
    position: absolute;
    background-color: var(--clr-secondary);
    z-index: -1;
    top: 65%;
    left: 0;
    transform: translateY(-50%);
}

.lashes-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.lashes-img {
    width: 50%;
    position: relative;
}

.lashes-img-big {
    width: 70%;
    float: right;
}

.lashes-img-small {
    position: absolute;
    width: 70%;
    bottom: -50%;
}

.lashes-img-form {
    text-align: right;
}

.lashes-content {
    width: 50%;
}

.lashes-content li {
    list-style-type: none;
}

.lashes-content-form {
    width: 80%;
    float: left;
}

.lashes-img-flower {
    width: 50%;
    position: absolute;
    opacity: 50%;
    right: 0;
    top: 0;
    transform: translateX(50%);
}

.lashes-list {
    width: 100%;
    padding-top: 30px;
}

.lashes-list-item {
    display: flex;
    width: 100%;
    gap: 5px;
}

.lashes-list-dashed {
    flex-grow: 1;
    border-top: 1px dashed black;
    transform: translateY(25%);
}
/* Booking */
.booking {
    width: 100%;
    margin: 60px 0;
    padding: 60px 0;
}
.booking-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.booking-time-form {
    flex-grow: 1;
    width: 50%;
}
.booking-title {
    font-size: 34px;
}
.booking-time {
    display: flex;
    justify-content: space-between;
}
.booking-calendar {
    width: 50%;
    text-align: center;
}
/* Gallery */
.gallery {
    width: 100%;
    margin-bottom: 60px;
}
.gallery img {
    transition: all 0.3s ease-in-out;
}
.gallery img:hover {
    transform: scale(1.2);
}
.gallery-title {
    font-size: 34px;
    padding: 20px 0;
}
.gallery-form {
    width: 80%;
    margin: 0 auto;
}
.gallery-item {
    width: 30%;
}
.gallery-img-form {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.gallery-img-1 {
    margin-bottom: 30px;
}
.gallery-view-more {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}
/* Review and Comment */
.review {
    width: 100%;
    background-image: url('../../images/reviewBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.review-intro {
    color: white;
    font-size: 14px;
    font-family: var(--ff-primary);
    margin: 0;
}
.review-res {
    display: none;
    width: 100%;
    background-image: url('../../images/reviewBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.review-form {
    width: 80%;
    margin: 0 auto;
}
.review-header {
    text-align: center;
}
.review-title {
    font-size: 34px;
    padding: 20px;
    color: white;
    font-family: var(--ff-primary);
}
.review-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--clr-secondary);
    padding: 50px 30px;
    opacity: 0.7;
}
.active-slide {
    opacity: 1;
}
.review-img {
    border-radius: 50%;
    width: 40%;
    overflow: hidden;
}
.review-slide {
    width: 33%;
}
@media only screen and (max-width: 1200px) {
    .review-item {
        width: 70%;
    }
    .review-form {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .review {
        display: none;
    }
    .review-res {
        display: block;
    }
    .lashes {
        margin: 60px 0 60px 0;
        padding: 0px 0;
    }
    .lashes-bg {
        height: 120%;
    }
}
@media only screen and (max-width: 576px) {
    /* Introduce */
    .intro-form {
        flex-direction: column-reverse;
    }
    .intro-bg {
        width: 100%;
    }
    .intro-content {
        width: 100%;
    }
    .intro-img-form {
        width: 100%;
    }
    .intro-img-flower-bot {
        transform: translate(0, -20%);
    }
    .intro-content-form {
        width: 100%;
    }
    .intro-img {
        width: 100%;
    }
    /* Three Service */
    .three-form {
        flex-direction: column;
    }
    .nail-care {
        width: 100%;
    }
    /* Quality */
    .quality-item-form {
        flex-direction: column;
    }
    .quality-item {
        width: 100%;
    }
    /* Other */
    .other-form {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .other-img {
        width: 100%;
    }
    .other-content {
        width: 100%;
    }
    .other-bg {
        width: 100%;
        height: 100%;
        top: 0;
        transform: none;
    }
    /* Lashes */
    .lashes-form {
        flex-direction: column;
        gap: 40px;
    }
    .lashes-bg {
        height: 130%;
    }
    .lashes-img {
        width: 100%;
    }
    .lashes-content {
        width: 100%;
    }
    /* Booking */
    .booking-form {
        flex-direction: column;
        gap: 30px;
    }
    .booking-time-form {
        width: 100%;
    }
    .booking-calendar {
        width: 100%;
    }
    /* Review */
    .review-item {
    }
}
