.service-banner {
    width: 80%;
    margin: 0 auto;
}
.service-banner-form {
    width: 80%;
    margin: 0 auto;
}
.service-name {
    width: 80%;
    background-color: var(--clr-secondary-light);
    margin: 0 auto;
    padding: 30px;
}
.service-name-form {
    width: 80%;
    margin: 0 auto;
}
.service-name-title {
    font-size: 34px;
    padding: 20px 0;
}
.service-name-content-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.service-name-img-alt {
    text-align: center;
    padding: 20px;
}
.about-image-store-form-child {
    height: 100%;
    aspect-ratio: 1/1;
}
