.admin-blog{
    max-width: 992px;
    padding: 20px;
    border: 1px solid black;
    margin: 0 auto;
}
.admin-blog-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.admin-blog-img-form{
    width: 20%;
    padding: 10px 0;
}
.admin-blog-content img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.admin-blog-seo{
    display: flex;
    gap: 10px;
    font-weight: 600;
}