:root {
    --clr-heading-1: red;
    --clr-heading-2: #121212;
    --clr-heading-3: #525050;
    --clr-paragraph: #010101;
    --clr-subtitle: #010101;
    --fs-primary: 14px;
    --fs-heading-1: 1.6rem;
    --fs-heading-2: 1.4rem;
    --fs-heading-3: 1.2rem;
}

html {
    font-size: var(--fs-primary);
}

h1 {
    font-size: var(--clr-heading-1);
}

h2 {
    font-size: var(--clr-heading-2);
}

h3 {
    font-size: var(--clr-heading-3);
}
