.booking-root {
    display: flex;
    gap: 40px;
}
.booking-root-date {
    flex-basis: calc(50% - 40px);
}
.booking-root-time {
    flex-basis: calc(50% - 40px);
    min-width: 220px;
    max-width: 520px;
}
@media only screen and (max-width: 990px) {
    .booking-root {
        flex-direction: column;
    }
}
