.space-time {
    background-color: #fdf2cb;
    width: 100%;
    min-width: 400px;
    height: 100%;
}
.space-time-title {
    background-color: #303030;
    color: var(--clr-primary-yellow);
    padding: 15px 10px;
    text-align: center;
}
.space-time-content {
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 10px;
}
.space-time-button {
    flex-basis: calc((100% - 1rem * 2) / 3);
    /* min-width: 220px; */
    padding: 8px 12px;
    background-color: unset;
    border: 1px solid var(--clr-border);
    display: inline-block;
    cursor: pointer;
}

.space-time-button:hover {
    background-color: var(--clr-primary-yellow);
    color: #fff;
}

.space-time-button[data-active='true'] {
    opacity: 0.5;
    user-select: none;
}
.space-time-button[data-selected='true'] {
    background-color: var(--clr-primary-yellow);
}
.space-time-info {
    margin: 10px 20px;
    margin-bottom: 0;
}
.space-time-date {
    font-size: 20px;
}

.calendar-space-time-frame {
    margin: 0 auto;
    scroll-margin-top: 120px;
}
@media only screen and (max-width: 576px) {
    .space-time {
        width: 300px;
        height: fit-content;
        margin: 0 auto;
    }

    .space-time-button {
        flex-basis: calc((100% - 1rem) / 2);
    }
}
