.space-time {
    background-color: #fdf2cb;
    width: 400px;
    height: 100%;
}
.space-time-title {
    background-color: #303030;
    color: var(--clr-primary-yellow);
    padding: 15px 10px;
    text-align: center;
}
.space-time-content {
    text-align: center;
}
.space-time-button {
    padding: 8px 12px;
    margin: 10px;
    background-color: unset;
    border: 1px solid var(--clr-border);
    display: inline-block;
    cursor: pointer;
}

.space-time-button:hover,
.space-time-button[data-active='true'] {
    background-color: var(--clr-primary-yellow);
    color: #fff;
}

.space-time-info {
    margin: 10px 20px;
    margin-bottom: 0;
}
.space-time-date {
    font-size: 20px;
}
@media only screen and (max-width: 576px) {
    .space-time {
        width: 300px;
        height: fit-content;
        margin: 0 auto;
    }
}
